@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: black;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
    background-color: #fff;
}

.imgsection {
    background: #575757 url('../img/kiev-02.jpg') center 10% no-repeat;
    width: 100%;
    opacity: 0.7;
}

.wrapper.imgsection .description {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.title {
    color: #374048;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-transform: uppercase;
    font-size: 48px;
    padding-top: 20px;
}

.description {
    position: relative;
    color: #8a9095;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 20px;
    padding: 0 130px 60px;
    margin: 0;
    line-height: 32px;
}

.btn {
    display: inline-block;
    background: orange;
    cursor: pointer;
    border-radius: 16px;
    padding: 0 6px;
}

.btn:hover {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.btn a {
    text-decoration: none;
    color: #374048;
    font-weight: 500;
}

.darksection {
    background-color: #f8fbfd;

}

.portfolio-block {
    margin: 0 auto;
}

.portfolio-item {
    position: relative;
    display: block;
    float: left;
    width: 33.3333%;
    height: 240px;
    z-index: 0;
}

.portfolio-item .work-description {
    text-decoration: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 25%;
    opacity: 0;
}

.portfolio-item .work-description:hover {
    opacity: 0.8;
}

.portfolio-item span {
    color: #8a9095;
}

.row:last-child .portfolio-item {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
}

.portfolio-block .portfolio-item img {
    width: 80%;
    border: 1px solid #8a9095;
}

.circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 36px;
    font-family: sans-serif;
    color: #8a9095;
}

.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.contact-list {
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
    color: #8a9095;
    font-size: 20px;
    font-weight: 500;
}

.contact-list li {
    display: inline-block;
    float: left;
    width: 33.33333%;
}

.contact-list li a {
    text-decoration: none;
    color: inherit;
    transition: .5s ease;
}

.contact-list li a:hover {
    color: #374048;
    text-decoration: underline;
    transition: .5s ease;
}

.contact-list li i {
    margin-right: 12px;
    margin-left: -12px;
    color: red;
    font-size: 26px;
}

footer {
    color: #fff;
    font-size: 8px;
    line-height: 1;
    padding: 20px 0;
    text-align: left;
}

@media (max-width: 992px) {
    .portfolio-block .portfolio-item, .contact-list li {
        display: block;
        float: none;
        margin: 0 auto;
        width: 60%;
        height: auto;
    }
}

@media (max-width: 780px) {
    .portfolio-block .portfolio-item, .contact-list li {
        display: block;
        float: none;
        margin: 0 auto;
        width: 80%;
    }
}